.addButton{
    
        margin-top:"15px";
        padding: "10px";
        margin-left: "10px";
        border-radius: "20px";
        background-color: "lightblue";
      
}

.flex-container {
    display: "flex";
     justify-content: "space-between"
}